<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>График</title>
    <link rel="stylesheet" href="{% url 'kalendar.css' %}">
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <div class="logo">
                    <img class="logo img" src="../static/logo.webp"/>
               </div>
               <br>
               <div class="nav">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'kalendar' %}">График</a></li>
            </ul>
        </div>
        <h1 style="color: white;">Young hearts & Old hands</h1>
        <div class="nav">
        <img class="logo img" src="../static/log in.png"/>
            <a href="{% url 'log_in' %}" class="docs-link">Вход</a>
        </div>
        </nav>
    </header>
<br>
<br>
<br>
<br>
<br>
<br>
    <i><h1>График</h1></i>
    <div class="dropdown-container">
    <label for="month">Избери месец:</label>
    <select id="month" onchange="updateCalendar()">
        <option value="0">Януари</option>
        <option value="1">Февруари</option>
        <option value="2">Март</option>
        <option value="3">Април</option>
        <option value="4">Май</option>
        <option value="5">Юни</option>
        <option value="6">Юли</option>
        <option value="7">Август</option>
        <option value="8">Септември</option>
        <option value="9">Октомври</option>
        <option value="10">Ноември</option>
        <option value="11">Декември</option>
    </select>
    
    <label for="year">Избери година:</label>
    <select id="year" onchange="updateCalendar()">
        <option value="2025">2025</option>
        <option value="2026">2026</option>
    </select>
</div>
    <br>
    <br>
    <br>
  
    <div id="calendar" class="calendar"></div>

    <script src="../static/kalendar.js"></script>    1
</body>
</html>
