<!DOCTYPE html>
{% load static %}
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'log_in.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Вход</h2>
        <form method="POST" action="{% url 'basic_app:user_login' %}">
            {% csrf_token %}
            <div class="input-container">
                <input type="text" name="username" placeholder="Потребителско име" required>
            </div>
            <div class="input-container">
                <input type="password" name="password" placeholder="Парола" required>
            </div>
            <button type="submit" class="login-button">ВХОД</button>
        </form>
    </div>
</body>
</html>
