<!DOCTYPE html>
{% load static %}
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'registraciqDobrovolci.css' %}">
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <div class="logo">
                    <img class="logo img" src="{%static "logo.webp"%}"/>
               </div>
               <br>
               <div class="nav">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'basic_app:calendar' %}">График</a></li>
                <li class="dropdown">
                    
                    
                </li>
            </ul>
        </div>
        <h1 style="color: white;">Young hearts & Old hands</h1>
        <div class="nav">
        <img class="logo img" src="{% static "log in.png"%}"/>
        <a href="{% url 'basic_app:user_login' %}" class="docs-link">Вход</a>

        </div>
        </nav>
    </header>

    <div class="container">
        <h2>Регистрация за доброволци</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <input type="hidden" name="user_type" value="volunteer">

                    

                
                    
                
                
                <label class="checkbox-label">Каква услуга търсите?</label>
                <div class="checkbox-group">
                    <label><input type="checkbox" name="service" value="Медицинска"> Медицинска</label>
                    <label><input type="checkbox" name="service" value="Доставчик"> Доставчик</label>
                    <label><input type="checkbox" name="service" value="Хигиенист"> Хигиенист</label>
                    <label><input type="checkbox" name="service" value="Готвач"> Готвач</label>
                    <label><input type="checkbox" name="service" value="Психотерапевт"> Психотерапевт</label>
                </div>
                
                <button type="submit">Регистрация</button>
            </form>
        </div>
</body>
</html>