argon2-cffi             == 23.1.0
argon2-cffi-bindings    == 21.2.0
asgiref                ==  3.8.1
babel                 ==   2.17.0
bcrypt                ==   4.3.0
cffi                   ==  1.17.1
Django                  == 5.1.7
django-phonenumber-field== 8.0.0
Faker                ==    37.0.0
phonenumbers          ==   9.0.1
pillow                ==   11.1.0
pip                   ==   25.0.1
pycparser             ==   2.22
sqlparse               ==  0.5.3
tzdata                  == 2025.1