<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="log_in.css">
</head>
<body>
    <div class="login-container">
        <h2>Вход</h2>
        <form>
            <div class="input-container">
                <input type="text" placeholder="Потребителско име" required>
            </div>
            <div class="input-container">
                <input type="password" placeholder="Парола" required>
            </div>
            <button type="submit" class="login-button">ВХОД</button>
        </form>
    </div>
</body>
</html>